body {
  color: darkslategrey;
  font-family: arial, sans-serif;
  /*font-size: 17px;*/
  /*font-size:1rem*/
}

.text-center {
  text-align: center;
}

#copyright {
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-size:30px;
  /* Inserido por Silvio - Inserir fonte Audiowide para as tags h1*/
  font-family: 'Audiowide', cursive;
}

h2 {
  font-size:24px;
  background-color: lightskyblue;
  /* Inserido por Silvio - Arredondar as bordas das barras contidas em h2*/
  border-radius:5px;
}

h1, h2, a, a:visited {
  color: darkblue;
}

a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 a, h1 a:visited {
  color: white;
}
h2 a, h2 a:visited {
  color: lightskyblue;
}
h1:hover a, h2:hover a {
  color: darkblue;
}

/* Classe btn - utilizada no botão voltar no arquivo resumo.html */
.btn {
  font-size:1.3rem;
}

/* btn: hover - restringe o comportamento de hover apenas a classe btn */
.btn:hover{
  color: white;
  background-color: darkblue;
  text-decoration:none;
}

/* Seletor de ID para a seção da página "social" */
#social{
  text-align:center;
  color:white;
  font-size:2rem;
}

/* Cores do ícones, restringindo para o ícone do facebook - observe que a classe fa-square-facebook foi especificado pelo fonts-icons*/
#social .fa-square-linkedin{
  color:navy;
}

/* Cores do ícones, restringindo para o ícone do twitter - idem */
#social .fa-square-twitter {
  color:dodgerblue;
}

/* Cores do ícones, restringindo para o ícone do linkedin - idem */
#social .fa-linkedin {
  color:navy;
}

/* O mídia print deve ser inserido no CSS, informando como a página 
deve ser formatada para impressão */
@media print {
	h1, body {
	color: black;
	font-family: Times, serif;
}

h1#person { // PERSON TEM QUE ESTAR OBRIGATORIAMENTE NA H1 PARA FUNCIONAR
	text-align: left;

}