@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.ttf) format('truetype');
}

/* 
.intro-text > * {
  text-align: center;
}
*/


div {
  display: block;
  text-align: center;
}



body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0px;
}

/* Header */
header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  min-height: 400px;

  /*  Display Flex  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .intro-text p, header .intro-text h1 {
  color: #ecece2;
}

header .intro-text h1 {
  margin: 0px;
  font-size: 3em;
  text-transform: uppercase;
}

header .intro-text p {
  font-size: 2em;
  font-style: italic;
  padding-bottom: 20px;
}

header .intro-text .btn-intro {
  color: #fff;
  background-color: #fed136;
  border-color: #fed136;
  border-radius: 3px;
  font-size: 1.5em;
  padding: 20px 40px;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

/* Main */
main {
  color: #333;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 /* grid-template-rows: 170px 180px 180px */
  gap 10px 10px;

  width: 80%;
  margin: auto; /* 10% a direita e 10% a esquerda */

  /* solucao de Francisco para o espaçamento do grid antes a parte inferior --- margin: 0 auto 80px auto */

  padding-bottom: 80px;
}


main .service {
  text-align: center;
}

main .service-description{
  grid-column: 1/4;
  text-align: center;
  padding: 80px 0;
}

main .service .circle-icon {
  background-color: #fed136;
  color: #fff;
  
  display: inline-block;
  width: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
}

main .service .circle-icon i {
  font-size: 32px;
}


main .service-description  h1 {
  font-size: 3em;
}

main .service-description  p {
  color: #777;
  font-style: italic;
}

main .service p {
  color: #777;
  font-size: 14px;
  line-height: 1.75;
}

/* footer */
footer {
  background-color: #ecece2;

  display: grid;
  grid-template-rows: auto auto;

}

footer .footer-content{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.footer-content > section {
    flex-basis: calc(90%/3);
    text-align: center;
}

footer section.social a {
  color: #555;
  text-decoration: none;
}

footer section.social ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;

  list-style: none;
  padding: 0;
}

footer section.copyright {
  color: #555;
  background-color: #c7c7af;
  text-align: center;
  padding: 5px;
}

footer section.social ul li {
  border: 2px solid rgb(85,85,85);
  border-radius: 50%;
  padding: 10px;
}

footer section.copyright i.fa-heart {
  color: #f00;
}